// Pantallas
$minCelular: 576px;
$minTablet: 768px;
$minPantalla: 992px;
$minPantallaGrande: 1200px;

$fuenteTitulo: 'Titillium Web', sans-serif;
$fuenteSubtitulo: 'Vollkorn', serif;
$fuenteMono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$switchAncho: 50px;
$btnDiametro: 18px;
