@import './normalizar';
@import './constantes';
@import './funciones';
@import './pantallas/base';

// Teléfonos horizontal
@media (min-width: $minCelular) {
  @import './pantallas/celulares';
}

// Pantallas medianas (Tablets)
@media (min-width: $minTablet) {
  @import './pantallas/tabletas';
}

// Dispositivos grandes y pantallas medianas
@media (min-width: $minPantalla) {
  @import './pantallas/pantallasMedianas';
}

// Pantallas grandes
@media (min-width: $minPantallaGrande) {
  @import './pantallas/pantallasGrandes';
}

#leyenda {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: fixed;
  border: 2px solid #fff;
  padding: 0.5em;
  left: 100px;
  display: flex;
  flex-direction: column;

  .seccion {
    display: flex;
    align-items: center;
    margin: 0.2em 0;
    cursor: pointer;
  }

  .linea,
  .rango {
    width: 40px;
    margin-right: 15px;
  }

  .linea {
    height: 2px;
  }

  .rango {
    height: 12px;
  }

  #medianNow {
    .linea {
      background-color: gray;
    }
  }

  #medianForecast {
    .linea {
      background-color: #e3bfbe;
    }
  }

  #now95 {
    .rango {
      background-color: #cbcbcb;
    }
  }

  #forecast95 {
    .rango {
      background-color: #d6a09f;
    }
  }

  #forecast80 {
    .rango {
      background-color: #e3bfbe;
    }
  }

  #forecast50 {
    .rango {
      background-color: #f0d9d9;
    }
  }
}

.puntoCasoComprobado {
  fill: rgba(0, 0, 0, 0.5);
}

.tipoIndicador {
  cursor: pointer;
}

.caso {
  fill: transparent;
  stroke: none;

  &:hover {
    fill: rgb(22, 246, 231);
  }
}

.sinFondo {
  fill: none;
}

.sinLinea {
  stroke: none;
}

.areaInteraccion {
  pointer-events: all;
}

.foco {
  // stroke: black;
  fill: rgba(46, 254, 228, 0.9);
  opacity: 0;
}

.lineaPrincipal {
  fill: #ffeb6d // stroke: black;
}

.lineaPreliminar {
  stroke: #5b5b5b;
}

.lineaPronostico {
  stroke: red;
}

#creditos {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 90px;
  background-color: #fff;
  color: #fff;
  width: 100%;

  section {
    padding: 0.5em 1em;
  }

  .logos {
    display: flex;

    a {
      margin-right: 1.5em;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }

    .logo {
      height: auto;
      display: block;
      height: 40px;
    }
  }

  h3 {
    font-size: 0.9em;
    margin: 0 0 10px 0;
  }
}

#opciones {
  display: flex;
  margin-left: 3em;

  .opcion {
    margin-right: 1.5em;
  }
}

h1 {
  font-family: $fuenteTitulo;
  color: #7a59e4;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}


.infoFoco {
  background-color: rgba(46, 254, 228, 0.7);
  color: #7a59e4;
  padding: 10px;
  position: absolute;
  width: 200px;
  height: fit-content;
  border-radius: 5px;
  z-index: 99;
}

.lineaFoco {
  stroke: rgba(46, 254, 228, 0.7);
  stroke-width: 1px;
}