@import './normalizar';
@import './constantes';
@import './funciones';
@import './pantallas/base';

// Teléfonos horizontal
@media (min-width: $minCelular) {
  @import './pantallas/celulares';
}

// Pantallas medianas (Tablets)
@media (min-width: $minTablet) {
  @import './pantallas/tabletas';
}

// Dispositivos grandes y pantallas medianas
@media (min-width: $minPantalla) {
  @import './pantallas/pantallasMedianas';
}

// Pantallas grandes
@media (min-width: $minPantallaGrande) {
  @import './pantallas/pantallasGrandes';
}

#tituloPrincipal {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 2.4em;
  text-align: left;
  padding-left: 1.5em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  padding-right: 1em;
  line-height: 1.2em;
}

#subtituloPrincipal {
  font-family: 'Volkorn';
  font-style: italic;
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
  text-align: left;
  margin-top: -1em;
  padding-left: 1.5em;
  margin-left: 1em;
  padding-right: 1em;
}

#leyenda {
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  position: fixed;
  border: 2px solid #fff;
  padding: 0.5em;
  left: 100px;
  display: flex;
  flex-direction: column;

  .seccion {
    display: flex;
    align-items: center;
    margin: 0.2em 0;
    cursor: pointer;
  }

  .linea,
  .rango {
    width: 40px;
    margin-right: 15px;
  }

  .linea {
    height: 2px;
  }

  .rango {
    height: 12px;
  }

  #medianNow {
    .linea {
      background-color: gray;
    }
  }

  #medianForecast {
    .linea {
      background-color: #e3bfbe;
    }
  }

  #now95 {
    .rango {
      background-color: #cbcbcb;
    }
  }

  #forecast95 {
    .rango {
      background-color: #d6a09f;
    }
  }

  #forecast80 {
    .rango {
      background-color: #e3bfbe;
    }
  }

  #forecast50 {
    .rango {
      background-color: #f0d9d9;
    }
  }
}

.puntoCasoComprobado {
  fill: rgba(0, 0, 0, 0.5);
}

.tipoIndicador {
  cursor: pointer;
  color: #fff;
}

.caso {
  fill: transparent;
  stroke: none;

  &:hover {
    fill: rgb(22, 246, 231);
  }
}

.sinFondo {
  fill: none;
}

.sinLinea {
  stroke: none;
}

.areaInteraccion {
  pointer-events: all;
}

.foco {
  // stroke: black;
  fill: rgba(255, 235, 109, 0.9);
  opacity: 0;
}

.lineaPrincipal {
  fill: rgba(255, 255, 255, 0.7); // stroke: black;
}

.lineaPreliminar {
  stroke: #5b5b5b;
}

.lineaPronostico {
  stroke: red;
}

#creditos {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 90px;
  background-color: #fff;
  color: #fff;
  width: 100%;

  section {
    padding: 0.5em 1em;
  }

  .logos {
    display: flex;

    a {
      margin-right: 1.5em;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }

    .logo {
      height: auto;
      display: block;
      height: 40px;
    }
  }

  h3 {
    font-size: 0.9em;
    margin: 0 0 10px 0;
  }
}

#opciones {
  display: flex;
  margin-top: 2em;
  margin-left: 2em;
  padding-left: 1.5em;

  .opcion {
    margin-right: 1.5em;
  }
}

.infoFoco {
  background-color: rgba(255, 235, 109, 0.9);
  color: #7a59e4;
  padding: 10px;
  line-height: 19px;
  position: absolute;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  z-index: 99;
  font-family: 'Titillium Web', sans-serif;
}

.lineaFoco {
  stroke: rgba(255, 235, 109, 0.9);
  stroke-width: 1px;
}
